@font-face {
    font-family: manrope;
    src: url('./manrope-variablefont_wght-webfont.woff') format('woff2'),
         url('./fonts/manrope-variablefont_wght-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}